%h2.article-title
  %span.date
    %span.year= article.date.strftime('%Y')
    %span.month= article.date.strftime('%m')
    %span.day= article.date.strftime('%d')
  %span.title= link_to article.title, article
